*.iml
.classpath
.project
/.settings/
/target/
/bin/

.svn
.idea

didKey.json

src/main/java/wu/CommandLineVerifier.java
src/main/java/wu/DIDDocumentLoader.java
src/main/java/wu/DidKey.java
src/main/java/wu/TestCredentialVerifier.java
src/main/java/wu/NewKeys.java

src/packagingHeader.sh

src/test/resources/com/danubetech/verifiablecredentials/input.vc.draft



